/* CSS Document ADD BY AKSHAY ON 08-06-2012 */
body {
	margin: 0px;
	background-color:#FFF;
	background-image: url(../images/bg_main.jpg);
	background-repeat: repeat-x;
	background-position:left top;
	font-family:Arial, Helvetica, sans-serif;
}
h1{
	margin:0;
	padding:0;
	font-weight:normal;
}
img{
	float:left;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
:focus{
	border:0;
	outline:none;
}
.text{
	top:0;
	left:0;
	height:100%;
	position:absolute;
	visibility:hidden;
	overflow:hidden;
}
.sub_bg{
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position:left top;
}
.sub_bg1{
	background-image: url(../images/bg2.jpg);
	background-repeat: repeat-x;
	background-position:left top;
}
.top_main{
	width:100%;
	float:left;
}
.top_wrapper{
	width:980px;
	margin:0 auto;
}
.top{
	width:980px;
	float:left;
}
.menu_main{
	width:980px;
	float:left;
	height:124px;
}
.logo{
	width:355px;
	float:left;
	padding:25px 0 0px 0;
}
.menu{
	width:625px;
	float:left;
}
.menu ul{
	width:371px;
	float:left;
	padding:0 0 0 254px;
}
.menu ul li{
	float:left;
}
.banner{
	width:980px;
	float:left;
}
.middle{
	width:980px;
	float:left;
	padding:25px 0 0 0;
}
.middle_services{
	width:980px;
	float:left;
}
.middle_expertise{
	width:980px;
	float:left;
}
.middle_expertise_t{
	width:974px;
	float:left;
	padding:26px 0 14px 6px;
}
.middle_expertise_b{
	width:980px;
	float:left;
	padding:0 0 40px 0;
}
.middle_welcome{
	width:980px;
	float:left;
	padding:20px 0 0 0;
}
.middle_welcome_l{
	width:692px;
	float:left;
}
.welcome_main{
	width:692px;
	float:left;
}
.welcome_title{
	width:673px;
	float:left;
	background-image:url(../images/welcome_bg.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#fa3131;
	height:37px;
	padding:13px 0 0 19px;
}
.treb_blue_24{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#0090a1;
}
.welcome_contain{
	width:692px;
	float:left;
}
.welcome_contain_t{
	width:609px;
	float:left;
	background-image:url(../images/welcome_bg1.jpg);
	background-repeat:repeat-x;
	background-position:left bottom;
	background-color:#fefdfd;
	border-left:solid 1px #e0e0e0;
	border-right:solid 1px #e0e0e0;
	font-size:12px;
	color:#5f5f5f;
	line-height:18px;
	padding:16px 20px 3px 18px;
}
.welcome_contain_t h1{
	font-size:12px;
	color:#5f5f5f;
}
.arial_12_red{
	font-size:12px;
	color:#fa3131;
}
.welcome_contain_b{
	width:692px;
	float:left;
	margin:-1px 0 0 0;
}
.ongoing_main{
	width:464px;
	float:left;
	padding:36px 0 38px 228px;
	background-image:url(../images/ongoing_bg.jpg);
	background-repeat:no-repeat;
	background-position:left 15px;
}
.middle_welcome_r{
	width:288px;
	float:left;
}
.raq_title{
	width:288px;
	float:left;
}
.raq_contain{
	width:240px;
	float:left;
	background-image:url(../images/raq_bottom.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	padding:0 0 60px 48px;
	margin:-4px 0 0 0;
}
.raq_form{
	width:159px;
	float:left;
	background-image:url(../images/form_bg1.png);
	background-repeat:no-repeat;
	background-position:left top;
	padding:7px 65px 23px 16px;
}
.raq_form2{
	width:169px;
	float:left;
	background-image:url(../images/form_bg2.png);
	background-repeat:no-repeat;
	background-position:left top;
	padding:7px 65px 13px 16px;
	height:80px;
}
.raq_form3{
	width:175px;
	float:left;
	padding:7px 65px 23px 0px;
}
.raq_form_main{
	width:100%;
	background:none;
	border:0;
	font-size:14px;
	color:#FFFFFF;
}
.raq_form_main2{
	width:100%;
	background:none;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	height:80px;
}
.footer_main{
	width:100%;
	float:left;
	background-image:url(../images/footer_bg.jpg);
	background-repeat:repeat-x;
	background-position:left top;
}
.footer_wrapper{
	width:980px;
	margin:auto;
}
.footer_left{
	width:547px;
	float:left;
	font-size:12px;
	color:#213a3d;
	font-weight:bold;
	padding:20px 0 20px 0;
}
.footer_link{
	font-size:12px;
	color:#213a3d;
	text-decoration:none;
}
.footer_link:hover{
	color:#ff3232;
}
.footer_right{
	width:382px;
	float:left;
	font-size:12px;
	color:#213a3d;
	text-align:right;
	font-weight:bold;
	padding:20px 0 20px 0;
}
.yogi{
	font-size:12px;
	color:#ff3232;
}
/* ABOUT US CSS START HERE */
.about_middle{
	width:980px;
	float:left;
}
.about_banner{
	width:980px;
	float:left;
}
.about_banner img{
	float:left;
}
.about_contain{
	width:980px;
	float:left;
	padding:20px 0 20px 0;
}
.about_contain_l{
	width:331px;
	float:left;
}
.about_contain_l img{
	float:left;
}
.about_contain_r{
	width:649px;
	float:left;
}
.who_main{
	width:649px;
	float:left;
}
.vm_main{
	width:649px;
	float:left;
	padding:20px 0 0 0;
}
.vision_main{
	width:315px;
	float:left;
	padding:0 19px 0 0;
}
.vm_title{
	width:296px;
	float:left;
	background-image:url(../images/vm_title_bg.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#0090a1;
	height:33px;
	padding:7px 0 0 19px;
}
.vm_contain{
	width:315px;
	float:left;
}
.vm_contain_t{
	width:295px;
	float:left;
	background-image:url(../images/vm_bottom_bg.jpg);
	background-repeat:repeat-x;
	background-position:left bottom;
	border-left:solid 1px #e0e0e0;
	border-right:solid 1px #e0e0e0;
	font-size:12px;
	color:#5f5f5f;
	padding:16px 9px 7px 9px;
}
.vm_contain_b{
	width:315px;
	float:left;
}
.vm_contain_b img{
	float:left;
}
.mision_main{
	width:315px;
	float:left;
}
/* ABOUT US CSS  END  HERE */

/* PORTFOLIO CSS START HERE */
.portfolio_bg{
	background-image: url(../images/bg1.jpg);
	background-repeat: repeat-x;
	background-position:left top;
}
.portfolio_middle{
	width:980px;
	float:left;
	padding:0 0 10px 0;
}
.portfolio_title{
	width:980px;
	float:left;
	font-size:24px;
	color:#fa3131;
	background-image:url(../images/dot.png);
	background-repeat:repeat-x;
	background-position:left bottom;
	padding:0 0 12px 0;
}
.portfolio_contain{
	width:980px;
	float:left;
	padding:10px 0 0px 0;
}
.p_contain_main{
	width:980px;
	float:left;
	padding:12px 0 12px 0;
}
.portfolio_l{
	width:314px;
	height:291px;
	float:left;
	background-image:url(../images/portfolio_bg.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	padding:12px 0 5px 12px;
}
.portfolio_m{
	width:306px;
	height:291px;
	float:left;
	background-image:url(../images/portfolio_bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	padding:12px 0 5px 20px;
}
.portfolio_r{
	width:298px;
	height:291px;
	float:left;
	background-image:url(../images/portfolio_bg.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	padding:12px 0 5px 30px;
}
.portfolio_paging{
	width:980px;
	float:left;
}
.portfolio_paging ul{
	width:980px;
	float:left;
}
.portfolio_paging ul li{
	float:right;
}
.portfolio_paging ul li a{
	font-family:"trebuchet MS";
	font-size:13px;
	color:#FFFFFF;
	text-decoration:none;
	background-color:#ff3232;
	padding:2px 8px 3px 8px;
	margin:0 5px 0 0;
}
.portfolio_paging ul li a:hover{
	background-color:#0fb2c5;
}
.portfolio_paging ul li a.act{
	background-color:#0fb2c5;
}
/* PORTFOLIO CSS  END  HERE */

/* CONTACT CSS START HERE */
.contact_left{
	width:282px;
	float:left;
}
.contact_add{
	width:282px;
	float:left;
}
.contact_tit{
	width:282px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fa3131;
	font-weight:bold;
	padding:8px 0 8px 0;
}
.contact_con{
	width:282px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6e6e6e;
	line-height:18px;
}
.contact_mail{
	width:282px;
	float:left;
	padding:25px 0 0 0;
}
.contact_mail_main{
	width:282px;
	float:left;
	padding:0 0 20px 0;
}
.contact_mail_left{
	width:55px;
	float:left;
	padding:4px 0 0 0;
}
.contact_mail_right{
	width:227px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#6e6e6e;
}
.contact_mail_right1{
	width:227px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#6e6e6e;
	padding:12px 0 0 0;
}
.arial_14_red{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ff3232;
}
.contact_mail_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#6e6e6e;
	text-decoration:none;
}
.contact_mail_link:hover{
	color:#f32f2f;
}
.contact_right{
	width:294px;
	float:left;
	background-color:#f8f8f8;
	border:solid 1px #ededed;
}
.contact_main_mail{
	width:294px;
	float:left;
	padding:0px 0 10px 0;
}
.contact_text{
	width:72px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0090a1;
	font-weight:bold;
	text-align:right;
	padding:5px 0 0 0;
}
.contact_textbox{
	width:167px;
	float:left;
	background-image:url(../images/textbox.png);
	background-repeat:no-repeat;
	background-position:15px top;
	padding:6px 30px 6px 25px;
}
.contact_textbox1{
	width:207px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fa3131;
	padding:5px 0 0px 15px;
}
.contact_textbox2{
	width:167px;
	float:left;
	padding:0px 30px 6px 15px;
}
.contact_textbox3{
	width:187px;
	height:90px;
	float:left;
	background-image:url(../images/textbox1.png);
	background-repeat:no-repeat;
	background-position:15px top;
	padding:6px 10px 6px 25px;
}
.textbox{
	width:100%;
	background:none;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#949494;
}
.textbox2{
	width:100%;
	height:75px;
	background:none;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#949494;
}
.contact_textbox3 textarea{
	width:100%;
	height:75px;
	background:none;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#949494;
}
.button{
	width:104px;
	height:40px;
	background:none;
	background-image:url(../images/submit12.png);
	background-repeat:no-repeat;
	background-position:left top;
	border:0;
	cursor:pointer;
}
#message{
	width:179px;
	padding:0 0 30px 0;
}
#message h2{
	font-size:16px;
	color:#FFFFFF;
	padding:0;
	margin:0;
}
#message p{
	font-size:14px;
	color:#FFFFFF;
	padding:0;
	margin:0;
}
.welcome_contain_t12{
	width:609px;
	float:left;
	background-image:url(../images/welcome_bg1.jpg);
	background-repeat:repeat-x;
	background-position:left bottom;
	background-color:#fefdfd;
	border-left:solid 1px #e0e0e0;
	border-right:solid 1px #e0e0e0;
	font-size:12px;
	color:#5f5f5f;
	line-height:18px;
	padding:16px 20px 3px 18px;
}
.contact_l{
	width:282px;
	float:left;
}
.contact_r{
	width:315px;
	float:left;
	border:solid 1px #e0e0e0;
	background-color:#FFFFFF;
	padding:0px 3px 0 3px;
}
/* CONTACT CSS  END  HERE */

/* WEBDESIGN CSS START HERE */
.webdesign_banner{
	width:980px;
	float:left;
	padding:4px 0 0 0;
}
.webdesign_banner img{
	float:left;
}
.welcome_contain_t ul{
	width:50%;
	float:left;
}
.welcome_contain_t ul li{
	width:89%;
	float:left;
	background-image:url(../images/service_arrow.png);
	background-repeat:no-repeat;
	background-position:left 6px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#fa3131;
	line-height:40px;
	padding:0 0 0 11%;
}

/* WEBDESIGN CSS  END  HERE */